<p style="  width:60%;
            height:30%;
            position:fixed;
            left:20%;
            right:20%;
            top:20%;
            font-size:22.5px;
            text-align:center;">
    
    <font color="red">INVALID</font><br><br>
    You typed in:<br><br>"<em>{{original}}</em>" <br><br>server returned : '{{error}}'

<br>
<br>
<a href="/">try again</a>
</p>