<h2 style=      "width:50%;
                position:fixed;
                left:25%;
                right:25%;
                top:20%;
                text-align:center;">
                parser-app</h2>

<p style=       "width:70%;
                position:fixed;
                left:15%;
                right:15%;
                top:30%;
                text-align:center;">input any of these words and the parser will check if the sentence is gramatically correct:<br> <em><b>the,  a,  man,  men,  woman,  women,  dog,  green,  likes,  bites,  like,  bite</b></em></p>

<form method="POST" action="/parse/:input">
  <input type=        "text"
         name=        "input" 
         placeholder= "input sentence to be parsed" 
         style=       "width:50%;
                      position:fixed;
                      left:25%;
                      right:25%;
                      top:42.5%;
                      font-size:20px;
                      border-style:solid;
                      text-align:center;">
  <input type=        "submit"
         value=       "Submit" 
         style=       "width:30%;
                      position:fixed;
                      left:35%;
                      right:35%;
                      top:50%;
                      font-size:20px;">
</form> 

<h4 style=      "width:50%;
                position:fixed;
                left:25%;
                right:25%;
                bottom:35%;
                text-align:center;">
                Daire Homan | B00029598</h4>